.main {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 4rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
